:root{
 --dieci:rgb(17, 85, 113);
 --dieciopaq:rgba(17,85,113,0.3);
}

.text10{
  color:var(--dieci);
}

.bg10{
  background-color:var(--dieci);
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('media/header.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .second {
    height: 100%;
    width:100%;
    background-color: rgba(53, 126, 139,0.7);
    z-index: 9999;
    clip-path: polygon(0 0, 40% 0, 54% 50%, 40% 100%, 0 100%, 0% 50%);

  }
  .secondbis {
    height: 100%;
    width:100%;
    background-color: rgba(53, 126, 139,0.7);
    z-index: 9999;
    clip-path: polygon(55% 0, 100% 0, 100% 50%, 100% 100%, 55% 100%, 42% 50%);
    transform: translateY(-210px);
  }

  /* .third{
    height: 100vh;
    min-height: 200px;
    background-image: url('media/background.jpeg') ;
  } */

  html{
    scroll-behavior: smooth;
    transition: 2s;
  }

  .cloud{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-image: url('media/cloud.png');
    animation: animate 60s linear infinite;
  }

  @keyframes animate{
    from{background-position: 0px;}
    to{background-position: -5440px;}
  }

  .bg-navbar{
    background-color: rgb(255, 255, 255);
    transition:0.5s;
  }

  /* .section-2{
    height: 100vh;
    min-height: 200px;
    background:linear-gradient(rgba(255,255,255,1),transparent 80%), url('media/sky.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  }
 */
  /* .opaque{
    width: 750px ;
    height: 150px ;
    background-color: rgba(0,0,0,0.3);
  } */

  .bg-blue{
    background-color: transparent;
  }
  .bg-blue:hover{
    background-color: rgba(17, 85, 113,0.9);
    color:white;
    transition: 0.5s;
  }
  .bar{
    width:33%;
    height: 2px;
    background-color: rgba(17, 85, 113,1) ;
  }

  footer{
    background-color: rgb(17, 85, 113);
  }

  .hrfooter{
    height: 2px;

    background-color: white;
  }
  .icon{
    transform: translateX(0px);
  }
  .icon:hover{
    transform: translateX(5px);
  }
  
  .carousel-item {
    position: relative;
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .slide__overlay{
    opacity:0;
  }

  .slide__overlay:hover  {
    opacity: 1;
    position: absolute;
    left:0;
    bottom: 0;
    background-color: rgba(53, 126, 139,0.7);
    width: 50%;
    height: 100%;
    clip-path: polygon(0 0, 36% 0, 100% 100%, 0% 100%);
    transition: 0.5s linear;
    
  }
  
  .fa-arrow-alt-circle-right:before {
    content: "\f35a";
    color: var(--dieci);
}
  
/* fine stile welcome */

.box-bottom{
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid var(--dieci) !important;
}

.bg10opaque{
  background-color:var(--dieciopaq);
}


.prenotazioni {
  height: 150px;
  min-height: 550px;
  background-image: linear-gradient(transparent,rgba(255,255,255,0.3) 60%),url('media/booking.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bodyBooking{
  height: 100%;
  width: 100%;
  background-image: url('media/sfondoPrenota.jpeg');
  background-size: cover;
  background-position: 10px -295px;
}

.wrapper{
  background-color: rgba(0,0,0,0.3);
}

.alert-bg10{
  background-color: var(--dieci);
  color:white;
}